:root {
  --color-pass-rgb: 27, 196, 125;
  --color-pass: rgb(var(--color-pass-rgb));
  /* same as --figma-green */
  --color-fail-rgb: 242, 72, 34;
  --color-fail: rgb(var(--color-fail-rgb));
  /* same as --figma-red */
  --color-mixed-rgb: 242, 153, 0;
  --color-mixed: rgb(var(--color-mixed-rgb));
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#create-figma-plugin {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.loading-state {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  width: auto;
}

.toolbar {
  flex: 0 0 auto;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--figma-color-border);
}

.resize-handle {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 4px;
  cursor: se-resize;
  mix-blend-mode: difference;
  fill: white;
  opacity: .5;
}

.main {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  min-height: 0;
}

.frame-tree {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--figma-color-border);
  font-feature-settings: "ss02";
  overflow-y: auto;
}

.frame-section-item {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.frame-section-item-children {
  display: flex;
  flex-direction: column;
}

.frame-section-item-toggle {
  position: relative;
}

.frame-section-item-toggle.is-open .frame-section-item-toggle-icon {
  transform: translate(2px, -2px) translateY(-50%) rotate(90deg) ;
}

.frame-section-item-toggle-icon {
  position: absolute;
  left: calc(var(--depth, 0) * 20px);
  top: 50%;
  transform: translateY(-50%);
  color: var(--figma-color-icon-tertiary);
}

.frame-list-item,
.frame-section-item-toggle {
  appearance: none;
  background-color: transparent;
  border: 0;
  text-align: left;
  padding: 8px 12px;
  padding-left: calc(var(--depth, 0) * 20px + 20px);
  outline: 0;
  color: var(--figma-color-text);
}

.frame-list-item:focus-visible,
.frame-section-item-toggle:focus-visible {
  box-shadow: 0 0 0 2px var(--figma-color-border-selected) inset;
}

.frame-list-item:hover,
.frame-section-item-toggle:hover {
  box-shadow: 0 0 0 1px var(--figma-color-border-selected) inset;
}

.frame-list-item.is-selected {
  background-color: var(--figma-color-bg-selected);
}

.frame-list-item-score {
  display: flex;
  flex-direction: row;
  margin: 0 -2px -2px -2px;
}

.frame-list-item-score>* {
  border-radius: 2px;
  padding: 0 4px;
  margin: 2px;
}

.frame-list-item-score .score-pass {
  background-color: rgba(var(--color-pass-rgb), 0.1);
  color: var(--color-pass);
}

.frame-list-item-score .score-mixed,
.frame-list-item-score .score-unknown {
  background-color: rgba(var(--color-mixed-rgb), 0.1);
  color: var(--color-mixed);
}

.frame-list-item-score .score-fail {
  border-radius: 2px;
  background-color: rgba(var(--color-fail-rgb), 0.1);
  color: var(--color-fail);
}

.preview {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  cursor: -webkit-grab;
}

.preview.is-dragging {
  cursor: -webkit-grabbing;
}

.preview-content {
  display: flex;
  position: relative;
  cursor: inherit;
}

.preview-content img {
  pointer-events: none;
}

.text-node-hotspot {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  background: yellow;
}

.text-node-hotspot.status-fail {
  background-color: rgba(var(--color-fail-rgb), 0.4);
}

.text-node-hotspot.status-mixed,
.text-node-hotspot.status-unknown {
  background-color: rgba(var(--color-mixed-rgb), 0.4);
}

.text-node-hotspot.status-pass {
  background-color: rgba(var(--color-pass-rgb), 0.4);
}

.text-node-hotspot:hover {
  outline: calc(1px / var(--zoom, 1)) solid var(--figma-color-border-selected);
}

.text-node-hotspot span {
  pointer-events: none;
  display: none;
  font-family: sans-serif;
  font-size: calc(10px / var(--zoom, 1));
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5),
    calc(-1px / var(--zoom, 1)) calc(-1px / var(--zoom, 1)) 0 #000,
    calc(1px / var(--zoom, 1)) calc(-1px / var(--zoom, 1)) 0 #000,
    calc(-1px / var(--zoom, 1)) calc(1px / var(--zoom, 1)) 0 #000,
    calc(1px / var(--zoom, 1)) calc(1px / var(--zoom, 1)) 0 #000;
}

.text-node-hotspot:hover span {
  display: block;
}
