$color-pass: #1bc47d; // same as --figma-green
$color-fail: #f24822; // same as --figma-red
$color-mixed: #F29900;

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.toolbar {
  flex: 0 0 auto;
  padding: 8px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--silver);
}

.main {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  min-height: 0;
}

.frame-list {
  flex: 0 0 auto;
  width: 128px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--silver);
  font-feature-settings: "ss02";
  overflow-y: auto;
}

.frame-list-item {
  appearance: none;
  background-color: transparent;
  border: 0;
  text-align: left;
  padding: 8px 12px;
  outline: 0;

  &:hover {
    box-shadow: 0 0 0 1px var(--blue) inset;
  }

  &.is-selected {
    background-color: var(--selection-a);
  }
}

.frame-list-item-score {
  display: flex;
  flex-direction: row;;
  margin: 0 -2px -2px -2px;

  > * {
    border-radius: var(--border-radius-small);
    padding: 0 4px;
    margin: 2px;
  }

  .score-pass {
    background-color: rgba($color-pass, .1);
    color: $color-pass;
  }

  .score-mixed,
  .score-unknown {
    background-color: rgba($color-mixed, .1);
    color: $color-mixed;
  }

  .score-fail {
    border-radius: 2px;
    background-color: rgba($color-fail, .1);
    color: $color-fail;
  }
}

.preview {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.preview-content {
  display: flex;
  position: relative;
}

.text-node-hotspot {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    span {
      display: block;
    }
  }

  span {
    pointer-events: none;
    display: none;
    font-family: sans-serif;
    font-size: calc(10px / var(--zoom, 1));
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 2px rgba(#000, .5);
  }

  &.status-fail {
    background-color: rgba($color-fail, .4);
  }

  &.status-mixed,
  &.status-unknown {
    background-color: rgba($color-mixed, .4);
  }

  &.status-pass {
    background-color: rgba($color-pass, .4);
  }
}